.BreweryMain {
  text-align: center;
}

.BreweryList {

  text-align: center;
}


.search-container {
width: 100%;
text-align: center;

}

.state-search {

  float: left;
}

.city-search {

  float: right;
}


h5 {
  color: red;

}
p {
  font-weight: bold;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
